footer {
	.gridl {
		.uk-grid {
			.center-section {
				img {
					max-width: 300px;
				}
			}
			.left-section {
				h3 {
					color: $color-2;
				}
				.wpcf7 {
					form {
						p {
							label {
								font-size: ms(0);  
								line-height: 1.2em;
								@include breakpoint( ph ){
									font-size: ms(1);
								}
								span {
									input {
										border: 2px solid $color-2;
										background-color: transparent;
										color: $color-2;
										padding: 8px 10px;
									}
								}
							}
							input.wpcf7-submit {
								padding: 12px 15px;
								letter-spacing: 2px;
								font-weight: 700;
								border: none;
								background-color: $color-2;
								color: white !important;
								transition: all .15s ease-in-out;
								&:hover{
									background-color: $color-3;
									color: white !important;
								}
							}
						}
					}
				}
			}
		}
	}
}