header.banner {
    top: 0;
    width: 100%;
    position: relative;
    min-height: 80px;
    left: 0;
    z-index: 9999999;
    right: 0;
    position: fixed;
    background: linear-gradient(90deg, #BF0A30 50%, #002868 50%);
    @include breakpoint( dk ){
        position: relative; 
    }  
    text-align: center;
    h1 {
        color: white;
        padding: 5px;
        margin-bottom: 0px!important;
    }
    h3 {
        color: white;
        margin-top: -10px;
        padding-bottom: 5px;
    }
}