main {
  section {
    div {
      div {
        div {
          h1 {
            color: black;
            padding-top: 30px;
          }
          h1:after {
            content: '';
            display: block;
            height: 5px;
            width: 75%;
            margin: 5px auto;
            background: linear-gradient(90deg, #BF0A30 50%, #002868 50%);
          }
          div.article {
            border: 1px solid black;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            padding-left: 0!important;
            margin: 10px;
            div.uk-width-medium-1-3 {
              img {
                float: left;
                min-height: 100%;
              }
            }
            div.uk-width-medium-2-3 {
              padding-left: 15px;
              h4 {
                padding-top: 15px;
                color: black;
                margin-bottom: 20px!important;
              }
              p { 
                margin: 0!important;
              }
              a {
                float: right;
                padding-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}