.sidebar{ }

// .top-bar-border{ border-top: 5px solid $color-1; background-color: white; padding: 20px 15px; }
.widget {
    margin-bottom: 30px !important;
    border: 1px solid $grey-2;
     h3 {
	    padding: 12px;
	    letter-spacing: 1px;
	}
}

aside.sidebar {
	section.widget_text {
		h3 {
			background: $color-2;
			color: #fff;
		}
	}
	section.widget_recent_entries {
		h3 {
			background: $color-2;
			color: #fff;
		}
		ul {
			list-style: none;
			padding: 0 20px 0;
			li {
				padding: 5px 0;
				border-bottom: 1px solid $color-2;
				&:before{
			    	content: "\f249";
			    	font-family: FontAwesome;
				    display: inline-block;
				    font-weight: 400;
				    font-style: normal;
				    padding-right: 5px;
				    line-height: 1;
				    -webkit-font-smoothing: antialiased;
				    color: $color-2;
			    }
			    a {
			    	font-size: 110%;
			    	&:hover {
			    		color: $color-3;
			    	}
			    }
			}
			li:last-child {
				border-bottom: none;
			}
		}
	}

}

section.silo_widget-3 {
	h3 {
		background: $color-2;
		color: #fff;
		letter-spacing: 1px;
	}
	ul {
			list-style: none;
			padding: 0 20px 0;
			li {
				padding: 5px 0;
				border-bottom: 1px solid $color-2;
				&:before{
			    	content: "\f249";
			    	font-family: FontAwesome;
				    display: inline-block;
				    font-weight: 400;
				    font-style: normal;
				    padding-right: 5px;
				    line-height: 1;
				    -webkit-font-smoothing: antialiased;
				    color: $color-2;
			    }
			    a {
			    	font-size: 110%;
			    	&:hover {
			    		color: $color-3;
			    	}
			    }
			}
			li:last-child {
				border-bottom: none;
			}
		}
}

aside {
	section.widget_text {
		h3 {
			background: $color-2;
			color: #fff;
			letter-spacing: 1px;
		}
	}
	section.widget_recent_entries {
		h3 {
			background: $color-2;
			color: #fff;
			letter-spacing: 1px;
		}
		ul {
			list-style: none;
			padding: 0 20px 0;
			li {
				padding: 5px 0;
				border-bottom: 1px solid $color-2;
				&:before{
			    	content: "\f249";
			    	font-family: FontAwesome;
				    display: inline-block;
				    font-weight: 400;
				    font-style: normal;
				    padding-right: 5px;
				    line-height: 1;
				    -webkit-font-smoothing: antialiased;
				    color: $color-2;
			    }
			    a {
			    	font-size: 110%;
			    	&:hover {
			    		color: $color-3;
			    	}
			    }
			}
			li:last-child {
				border-bottom: none;
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	section.media_image-4 {
		text-align: center;
		border: none!important;
		box-shadow: none!important;
	}
}