body{
    margin-top: $mobile-nav-height  !important;
    @include breakpoint ( dk ){
	   margin-top: 0 !important;
    }
}

// Border-box all the way!
*{
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Backgrounds
.bg-1{
	background-color: $color-1;
}
.bg-2{
    background-color: $color-2;
}
.bg-3{
    background-color: $color-3;
}
.bg-4{
    background-color: $color-4;
}
.bg-5{
    background-color: $color-5;
}
.bg-white{
	background-color: white;
}
.bg-g1{
    background-color: $grey-1;
}
.bg-g2{
    background-color: $grey-2;
}
.bg-g3{
    background-color: $grey-3;
}

.pattern-1{
    background-image: url($pattern-1);
}


// Font colors
.color-1{
    color: $color-1;
}
.color-2{
    color: $color-2;
}
.color-3{
    color: $color-3;
}
.color-4{
    color: $color-4;
}
.color-5{
    color: $color-5;
}
.color-g1{
    color: $grey-1;
}
.color-g2{
    color: $grey-2;
} 
.color-g3{
    color: $grey-3;
}
.color-g{
    color: $grey-text;
}
.color-white{
    color: white;
}

.uk-padding-bottom-normal{
    padding-bottom: 50px !important; 
}

// Text padding
.text-padding{
    padding-left: 20px;
    padding-right: 20px;
    @include breakpoint( tb ){
        padding-left: 25px;
        padding-right: 25px;
    }
}

.small-padding{
    padding-top: 20px;
    padding-bottom: 20px;
    @include breakpoint( tb ){
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

// Class for overlay
.overlay{
    position: relative;
    z-index: 1;
    transition: all .25s ease-in-out;
    &:before{
        z-index: -1;
        content: '';        
        position: absolute;
        transition: all .25s ease-in-out;
        display: block;
        top: 0; right: 0; bottom: 0; left: 0;
        width: 100%; height: 100%;    
    }
}

.overlay-white{
    &:before{
        background: rgba(255,255,255,.35);
    }
}

.dark-overlay{
    &:before{
        background: rgba(0,0,0,.4);
    }
}

.overlay-1{
    &:before{
        background: rgba(11,60,93, .6);   
    }
    // &:hover:before{
    //     background: rgba(68, 132, 206, .6);   
    // }
}

.big-submit{
    position: relative;
    top: 24px;
}

.overlay-2{
    &:before{
        background: rgba(68, 132, 206, .6);   
    }
    // &:hover:before{
    //     background: rgba(11,60,93, .6);      
    // }
}

.overlay-3 {
    &:before {
        background: rgba(255,164,157, .6); 
    }
}

.overlay-4{
    &:before {
        background: rgba(171,201,189, .6)
    }
}

.overlay-1-hover{
    &:before{
        background: rgba($color-1, .6);   
    }
    &:hover:before{
        background: rgba($color-2, .6);   
    }
}

.overlay-2-hover{
    &:before{
        background: rgba($color-3, .6);   
    }
    &:hover:before{
        background: rgba($color-2, .6);      
    }
}
.overlay-3-hover{
    &:before{
        background: rgba($color-3, .6);   
    }
    &:hover:before{
        background: rgba($color-1, .6);      
    }
}
.overlay-4-hover{
    &:before{
        background: rgba($color-4, .6);   
    }
    &:hover:before{
        background: rgba($color-1, .6);      
    }
}

.overlay-1-dark{
    &:before{
        background: rgba($color-1, .85);   
    }
    // &:hover:before{
    //     background: rgba(68, 132, 206, .85);   
    // }
}

.overlay-2-dark{
    &:before{
        background: rgba($color-5, .85);   
    }
    // &:hover:before{
    //     background: rgba(11,60,93, .85);      
    // }
}

.center-divider{
    height: 3px; width: 80px; margin: 15px auto;
}

.bg-hover-1{
    transition: background-color .15s ease-in-out;    
    &:hover{
        background: $color-2 !important;
    }
}

.giant-padding{ 
    padding: 75px 0;
    @include breakpoint( tb ){
        padding: 175px 0;
    }
}

.overflow-hidden{
    overflow: hidden;
}

.home-scale{
    transition: all .15s ease-in-out;
    &:before{
         transition: background-color .15s ease-in-out;
        }
    &:hover{ 
        transform: scale(1.1);
        &:before{
            background: rgba($color-2, .6);   
        }
    }
}

.dash-left{
    border-left: 2px solid $color-1;
    padding-left: 20px;
}

.heading-padding{
    padding-top: 150px;
    padding-bottom: 50px;
}

/* Margin Stuff */
.uk-margin-bottom{ margin-bottom: 15px; }
.uk-margin-top{ margin-top: 15px; }
.uk-margin-left{ margin-left: 15px; }
.uk-margin-right{ margin-right: 15px; }

.uk-margin-large-bottom{ margin-bottom: 50px; }
.uk-margin-large-top{ margin-top: 50px; }
.uk-margin-large-left{ margin-left: 50px; }
.uk-margin-large-right{ margin-right: 50px; }

.uk-margin-medium-bottom{ margin-bottom: 25px; }
.uk-margin-medium-top{ margin-top: 25px; }
.uk-margin-medium-left{ margin-left: 25px; }
.uk-margin-medium-right{ margin-right: 25px; }

.uk-grid-small {
    margin-left: -15px;
}
.uk-grid-medium {
    margin-left: -25px;
}

.uk-grid-large {
    margin-left: -50px;
}

.uk-grid-small>* {
    padding-left: 15px;
}
.uk-grid-medium>* {
    padding-left: 25px;
}
.uk-grid-large>* {
    padding-left: 50px;
}


.uk-block-large{
    padding-top: 50px;
    padding-bottom: 50px;
    @include breakpoint( tb ){
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.uk-block-medium{
    padding-top: 15px;
    padding-bottom: 15px;
    @include breakpoint( tb ){
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.uk-block-extra-large{
    padding-top: 50px;
    padding-bottom: 50px;
    @include breakpoint( tb ){
        padding-top: 150px;
        padding-bottom: 150px;
    }
}
.uk-block-big-large{
    padding-top: 50px;
    padding-bottom: 50px;
    @include breakpoint( tb ){
        padding-top: 125px;
        padding-bottom: 125px;
    }
}

.z-front{
    z-index: 1;
    position: relative;
}

.uk-tab li.uk-active a.treatment-tab, .uk-tab li:hover a.treatment-tab{  color: #444 !important; } 
a.treatment-tab{ color: white !important; }

.bottom-fixed{
    position: fixed !important;
    bottom: 0;
    left: 0;
    right: 0;
}

.uk-modal {
    z-index: 101011111;
}
.video-container{
    &:before{
    content: '';
    background-image: url(/imperium/wp-content/uploads/2017/11/bg_pattern.png);
    position: fixed;
    opacity: 0.8;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    }
}
video#bgvideo {
    background: url(http://stodzydev.com/coalition/wp-content/uploads/2017/02/poster.jpg) no-repeat;
    background-size: cover;
    display: none;
    height: auto;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    z-index: -100;
}

.slant {
  position: relative;
  z-index: 1;
}
.slant-bottom{
    padding-bottom: 50px;
}
.slant:before {
      background: inherit;
    bottom: 0;
    content: "";
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    -webkit-transform: skewY(-1.5deg);
    transform: skewY(1.5deg);
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
    z-index: -1;
    // top: -40px;
    top: 0px;
}

.slant:after{
        background: inherit;
    bottom: 0;
    content: "";
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    -webkit-transform: skewY(-1.5deg);
    transform: skewY(1.5deg);
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
    z-index: -1;
    bottom: 0;
}

.slider-page-item{
    box-shadow: 0 1px 4px 2px rgba(100,100,100,.15);
    border-radius: 10px;
    overflow: hidden;
    padding: 18px;
}
.slider-shadow{
    position: relative;
}
.slider-shadow:before{
        content: '';
    pointer-events: none;
    position: absolute;
    width: auto;
    height: 100%;
    opacity: .4;
    left: -1px;
    right: -1px;
    top: 10px;
    background-color: transparent;
    background-image: radial-gradient(ellipse farthest-side at 100% 50%,#030408 -30%,transparent 100%),radial-gradient(ellipse farthest-side at 0 50%,#030408 -30%,transparent 100%);
    background-position: 100% 50%,0 50%;
    background-size: 8px 100%,8px 100%;
    background-repeat: no-repeat;
    z-index: 3000;
}

.widget, .s-box{
    box-shadow: 0 1px 4px 2px hsla(0,0%,39%,.15);
    border: 1px solid rgba(0,0,0,0.05);
    overflow: hidden;
}

.shadow1 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
} 

input.wpcf7-submit {
    cursor:pointer;
}
