$base-size: 15px;
$ms-ratio: 1.33;


h1{
	font-size: ms(3);
	line-height: 1.2em;
	@include breakpoint( ph ){
		font-size: ms(4);
	}
}

h2{
	font-size: ms(2);
	line-height: 1.2em;
	@include breakpoint( ph ){
		font-size: ms(3);
	}
}

h3{
	font-size: ms(1);
	line-height: 1.5;	
	@include breakpoint( ph ){
		font-size: ms(2);
	}
}

h4{
	font-size: ms(0);
	line-height: 1.2em;
	@include breakpoint( ph ){
		font-size: ms(1);
	}
}

h5{
	font-size: ms(0);
	line-height: 1.2em;
	font-weight: bold;
	@include breakpoint( ph ){
		font-size: ms(0);
	}
}

p.large, li.large{
	font-size: ms(0);
	font-weight: 300;
	@include breakpoint( ph ){
		font-size: ms(1);
	}
}

p, a, span{
	font-size: 15px;
	line-height: 1.714285714;
	@include breakpoint( ph ){
		font-size: ms(0);
	}
}

html{
	font-size: 14px;
}

a{
	text-decoration: none !important;
	transition: color .15s ease-in-out;
	color: $color-2;
	&:hover{
		color: $color-3;
	}
}


h1, h2, h3, h4, h5, h6, a{
	font-family: "Montserrat", sans-serif;
	
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	text-transform: uppercase;
}

a, span{
	font-family: "Hind Madurai", sans-serif;
}

html, body, p{
	font-family: "Hind Madurai", sans-serif;
	line-height: 1.8;
}
 
.lh-2{
	line-height: 2em !important;
}

.breadcrumbs-container{
	z-index: 1;
	background: white;
	border-bottom: 1px solid #e9eff5;
	padding: 10px 0;
	// Breadcrumbs
	p#breadcrumbs{ 
		padding: 0;
	    margin: 0;
	}
	p#breadcrumbs a{ color: $color-1; }
}

.margin-remove-bottom {
	margin-bottom: 0px!important;
	-webkit-margin-after: 0px!important;
}

// Icon List
.fa-ul {
    // padding-left: 0;
    // margin-left: 2.14285714em;
    // list-style-type: none;
    .fa-li {
	    position: relative;
	    // left: -2.14285714em;
	    left: 0;
	    width: 2.14285714em;
	    top: 0.14285714em;
	    text-align: center;
	    display: inline-block;
	}
}


//Accordian Stuff
.uk-accordion-title{
	// color: white;
	// background-color: $color-2;
	transition: all .25s ease-in-out;
	background-color: transparent;
}

.uk-accordion-title.uk-active{
	// background-color: $color-1;	
}
h3.uk-accordion-title{	
	    position: relative;
    padding: 15px;
    padding-right: 42px;
    border-top: 1px solid #222;
    margin-bottom: 0;
    background: #e5e5e5!important;
    margin-top: 10px;
    border-top: none;
    color: #3a3f40;
    /* font-size: 24px; */
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 24px 60px 24px 40px;
    position: relative;
    z-index: 1;
}

.uk-accordion-content{
	color: #000;
    margin: 0;
    padding: 24px 60px 24px 40px !important;
    box-shadow: 0 0 8px 1px rgba(0,0,0,.1);
    background: white;
    z-index: 0;
    position: relative;
}

h3.uk-accordion-title:after{
    content: "+";
    display: block;
    height: 30px;
    position: absolute;
    right: 7px;
    font-weight: 700;
    font-size: 30px;
    width: 30px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
}
h3.uk-active.uk-accordion-title:after{
    content: '-';
}

.line-under, .line-under-center{
	position: relative;
    padding-bottom: 30px;
	&:after{
		width: 40%;
		content: '';
		height: $border-width;
		margin: 0 auto;
		background-color: $color-3;
	    position: relative;
	    top: 15px;
	    min-width: 80px;
	    display: block;
	    @include breakpoint( tb ){
	    	margin: 0;
	    }  
	}
}

.line-under-left{
	&:after{
		@include breakpoint( tb ){
			left: 60%;
		}
	}
}

.line-under-center{
	&:after{
		margin: 0 auto !important;
		max-width: 120px;
	}
}


.txt-shadow{
	text-shadow: 0px 0px 5px rgba(0,0,0,.6);
}

.heavy{
	font-weight: 700;
}

.light{
	font-weight: 300;
}

h1.heavy-header{
	font-size: ms(4);
	font-weight: 700;
	@include breakpoint( ph ){
		font-size: ms(5);
	}
}

.line-above{
	position: relative;
	&:before{
	    content: "";
	    display: block;
	    margin: 0 auto 1.5em;
	    height: 2px;
	    width: 160px;
	    background: $color-1;
	}
}

.line-above-left{
	position: relative;
	&:before{
	    content: "";
	    display: block;
	    margin: 0 0 1.5em;
	    height: 2px;
	    width: 160px;
	    background: $color-1;
	}
}

.line-below{
	position: relative;
	&:after{
	    content: "";
	    display: block;
	    margin: 1em auto 1em;
    	height: 2px;
	    width: 100%;
	    max-width: 200px;
	    background: $color-1;
	}
}

.line-below-left{
	position: relative;
	&:after{
	    content: "";
	    display: block;
	    margin: 0 0 1.5em;
	    height: 2px;
	    width: 100%;
	    max-width: 200px;
	    background: $color-1;
	}
}

.emerald-header{
	h4{
		margin-bottom: 0px;
	}
	h2{
		margin-top: 5px;
		&:after{
		    content: "";
		    width: 42px;
		    height: 2px;
		    display: block;
		    background-color: $color-4;
		    margin: 20px auto;
		}
	}
}

.emerald-header.uk-text-left{
	h2:after{
		    margin: 20px 0;
		    background-color: $color-2;
		}
}

.white-on-light {
	text-shadow: 0px 0px 5px rgba(0,0,0,.6);
}