// Grid settings
$gridXtralarge: 1600px;
$gridlarge: 1338px;
$gridlargeHalf: 585px;
$gridMedium: 960px;
$gridSmall: 640px;

// Breakpoints
$xlarge:  1200px;
$large:   1060px;
$medium:  768px; 
$small:   600px;
$mini:    470px;

// Colors
$color-1:			#FFD88F;
$color-2:			#595a6e;
$color-3:			#ffa49d;
$color-4:			#abc9bd; 
$color-5:			#FFFFFF; 

$pattern-1:			'/wp-content/uploads/2017/08/seigaiha.png';

$grey-1:			#f7f7f7;
$grey-2:			#e5e5e5;
$grey-3:			#8d8d8d;

$grey-text:			#999999;

$spacer:			30px;

// Navbar heights ;#F9F6F2
$full-nav-height:	80px;
$mobile-nav-height:	71px;


$border-width:		3px;