// // Search form
// .search-form {
//   @extend .form-inline;
// }
// .search-form label {
//   font-weight: normal;
//   @extend .form-group;
// }
// .search-form .search-field {
//   @extend .form-control;
// }
// .search-form .search-submit {
//   @extend .btn;
//   @extend .btn-secondary;
// } 

input, textarea, select{ width: 100%; }

input.bg-input{
background: rgba(255,255,255, .9) !important;
  height: 36px !important;
}

 textarea.bg-input{
background: rgba(255,255,255, .9) !important;
}
input.bg-input:focus, textarea.bg-input:focus{
background:white !important;
  border: 2px solid #ffb600 !important;
}

.yellow-phone-btn{
  background-color: #ffb600 !important;
  transition: all .15s ease-in-out;
}
.yellow-phone-btn:hover{
  opacity: .7;
}





input:not([type]).uk-form-large, input[type].uk-form-large, select.uk-form-large {
    height: 50px !important;
    padding: 8px 16px !important;
    font-size: 16px !important;
}

.formfields {
	.uk-width-medium-1-2 {
		span {
			input {
				border: none;
				padding: 16px 20px;
				margin: 10px 0;
			}
		}
	}
	.uk-width-medium-1-1.message {
		span {
			input {
				border: none;
				padding: 16px 20px;
				margin: 10px 0;
			}
		}
	}
	.submit-btn {
		input {
			padding: 16px 20px;
			margin: 10px 0;		
			text-shadow: none;
    		font-weight: 700;
    		letter-spacing: 2px;
    		border: $border-width solid $color-2;
			background-color: transparent;
			color: $color-2;
			transition: all .15s ease-in-out;
			&:hover{
				color: white;
				background-color: $color-2;
			}
		}
	}
}

.request-wrapper {
	.text-padding {
		label {
			font-size: ms(0);  
			line-height: 1.2em;
			@include breakpoint( ph ){
				font-size: ms(1); 
			}
			span {
				input {
					border: 2px solid $color-2;
					background-color: transparent;
					color: $color-2;
					padding: 8px 10px;
				}
			}
		}
		input.wpcf7-submit {
			padding: 12px 15px;
			letter-spacing: 2px;
			font-weight: 700;
			border: none;
			background-color: $color-2;
			color: white !important;
			transition: all .15s ease-in-out;
			&:hover{
				background-color: $color-3;
				color: white !important;
			}
		}
	}
}